<p>Hi there!  Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p> If at any time you feel the need to unsubscribe, feel free to <a href="mailto:archy.deberker@gmail.com">tell us why</a>,
    and then use this link: </p>
<a href="{{ unsub_url }}"> {{ unsub_url }}</a>
<p> We're happy to have you aboard. Get out there and enjoy the sun!</p>
<p>Archy & Claudel</p>
<a href="https://weather-window-app.herokuapp.com"> Weather Window</a>