{% extends "base.html" %}
{% block content %}
<section class="hero section has-bg-img" style="width:100%; padding-bottom:6%; padding-top:2%">
    <div class="container">
        <div class="columns is-centered" style="padding-bottom: 20px">
            <div class="column is-two-thirds">
                <h1 class="title has-text-white is-size-1 has-text-centered is-size-2-mobile has-text-weight-normal">
                    You're all set!
                </h1>
                <h2 class="subtitle has-text-white has-text-centered"> We've confirmed your email and sent
                    you an invite for tomorrow</h2>
            </div>
        </div>
        <div class="container has-background-white is-rounded" style="border-radius: 20px; padding: 20px">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="columns">
                    <div class="column is-one-third has-content-centered">
                        <div style="min-height:3em">
                            <p class="help">What's the period you'd like to consider weather windows for?</p>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">From</label>
                            </div>
                            <div class="field-body">
                                <div class="select" id={{ form.day_start.id }} name={{ form.day_start.id }}>
                                    <select>
                                        {% for option in form.day_start.choices %}
                                        <option {% if option.selected %}
                                                selected
                                                {% endif %}
                                                value={{option.label}}> {{option.label}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">to</label>
                            </div>
                            <div class="field-body">
                                <div class="select" id={{ form.day_end.id }} name={{ form.day_end.id }}>
                                    <select>
                                        {% for option in form.day_end.choices %}
                                        <option {% if option.selected %}
                                                selected
                                                {% endif %}
                                                value={{option.label}}> {{option.label}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-third">
                        <div style="min-height:3em">
                            <p class="help">Some like it hot, some keep it cool - how about you?</p>
                        </div>
                        <div class="control">
                            {% for option in form.temperature.choices %}
                            <div>
                                <input type="radio" name={{option}}
                                       {% if option.selected %}
                                       checked
                                       {%endif%}
                                >
                                {{option.label}}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div style="min-height:3em">
                            <p class="help">What will you be doing in your weather window?</p>
                        </div>
                        {% for option in form.activities.choices %}
                        <div>
                            <input type="checkbox" name={{option}}
                                   {% if option.selected %}
                                   checked
                                   {%endif%}
                            >
                            {{option.label}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
        <div class="field has-addons has-addons-centered">
            <input class="button is-primary " type="submit" value="Update my preferences"/>
        </div>
        </form>
    </div>
    </div>
</section>

{% endblock %}
