{% extends "base.html" %}
{% block content %}
<section class="hero section has-bg-img" style="width:100%; padding-bottom:6%; padding-top:2%">
    <div class="container">
        <div class="columns is-centered" style="padding-bottom: 20px">
            <div class="column is-two-thirds">
                <h1 class="is-size-1 has-text-white has-text-centered">
                    The best hour of the day, delivered
                </h1>
                <h2 class="subtitle  has-text-white has-text-centered"> Every day we'll tell you the best time
                    to get out and enjoy some fresh air.</h2>
            </div>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input required id={{ form.email.id }} class="input" name="email" type="email"
                                   placeholder="Email">
                            <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                        </p>
                        <p class="help has-text-white">We'll send a calendar invite each day</p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input required id="postcode" class="input" name="postcode" type="text"
                                   placeholder="Location">
                            <span class="icon is-small is-left">
                    <i class="fas fa-map-marker"></i>
                    </span>
                        </p>
                        <p class="help has-text-white">with the best weather for this location</p>
                    </div>
                    <div class="field">
                        <input class="button is-primary" type="submit" value="Register"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section class="section">
    <div class="container has-background-white is-rounded" style="border-radius: 20px; padding: 20px">
        <h1 class="has-text-centered title has-text-grey has-text-weight-light"> How it works</h1>
        <div class="columns">
            <div class="column has-text-centered">
                <figure class="image" style="height:200px">
                    <img src="/static/assets/images/breaktime-col1.png"
                         style="width:180px; display: inline-block">
                </figure>
                <div class="column">Everyday, we look up the weather in your area</div>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="height:200px">
                    <img src="/static/assets/images/breaktime-col2.png"
                         style="width:180px; display: inline-block">
                </figure>
                <div class="column">We send you a calendar invite for the best hour</div>
            </div>
            <div class="column has-text-centered">
                <figure class="image" style="height:200px">
                    <img src="/static/assets/images/breaktime-col3.png"
                         style="width:180px; display: inline-block">
                </figure>
                <div class="column">So you can take a break and get some sweet fresh air</div>
            </div>
        </div>
        <div class="columns has-text-centered is-8 is-variable">
        </div>
    </div>
    <div class="container" style="padding-top:100px">
        <div class="columns is-centered">
            <div class="column is-one-quarter">
                <figure class="image is-64x64" style="margin-bottom: 20px"><img src="/static/assets/images/clock.png">
                </figure>
                <p class="subtitle"> Want to make sure you stretch your legs and refresh your brain? </p>
            </div>
            <div class="column  is-one-quarter">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    <p class="subtitle"> Let us find the time for a perfect pause</p>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input required id={{ form.email.id }} class="input" name="email" type="email"
                                   placeholder="Email">
                            <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                    </span>
                        </p>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                    <input required id="postcode2" class="input" name="postcode" type="text"
                                           placeholder="Location">
                                    <span class="icon is-small is-left">
                    <i class="fas fa-map-marker"></i>
                    </span>
                                </p>
                            </div>
                            <div class="field">
                                <input class="button is-primary" type="submit" value="Register"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOURAPIKEY&libraries=places">

      function autoComplete(){
      initMap('postcode')
      initMap('postcode2')
      }
      function initMap(id) {
        console.log(id)
        var input = document.getElementById(id);
        var strictBounds = document.getElementById('strict-bounds-selector');

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields(
            ['address_components', 'geometry', 'icon', 'name']);

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert("No details available for input: '" + place.name + "'");
            return;
          }

          var address = '';
          if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindowContent.children['place-icon'].src = place.icon;
          infowindowContent.children['place-name'].textContent = place.name;
          infowindowContent.children['place-address'].textContent = address;
          infowindow.open(map, marker);
        });


      }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&libraries=places&callback=autoComplete"
        async defer></script>

{% endblock %}
